BasedOnStyle: LLVM
Language : Cpp
Standard : Latest

AlignConsecutiveMacros: AcrossEmptyLines

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AllowShortBlocksOnASingleLine : Empty


BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: true
    AfterClass: true

TabWidth: 4
UseTab: Never
